<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jinshuju.mapper.FormMapper">


    <insert id="insertForm">
        insert into form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="form.formName != null and form.formName != ''">form_name,</if>
            <if test="form.formName == null or form.formName == ''">form_name,</if>
            <if test="form.formTitle != null and form.formTitle != ''">form_title,</if>
            <if test="form.formTitle == null or form.formTitle == ''">form_title,</if>
            <if test="form.formDesc != null and form.formDesc != ''">form_desc,</if>
            form_create_time,
            form_update_time,
            <if test="form.formTag != null and form.formTag != null">form_tag,</if>
            form_open,
            <if test="form.formUrl != null and form.formUrl != null">form_url,</if>
            form_view_count,
            <if test="form.formImg != null and form.formImg != ''">form_img,</if>
            <if test="form.formImg == null or form.formImg == ''">form_img,</if>
            user_id,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="form.formName != null and form.formName != ''">#{form.formName},</if>
            <if test="form.formName == null or form.formName == ''">"未命名表单名",</if>
            <if test="form.formTitle != null and form.formTitle != ''">#{form.formTitle},</if>
            <if test="form.formTitle == null or form.formTitle == ''">"未命名标题",</if>
            <if test="form.formDesc != null and form.formDesc != ''">#{form.formDesc},</if>
            #{form.formCreateTime},
            #{form.formUpdateTime},
            <if test="form.formTag != null and form.formTag != null">#{form.formTag},</if>
            #{form.formOpen},
            <if test="form.formUrl != null and form.formUrl != null">#{form.formUrl},</if>
            #{form.formViewCount},
            <if test="form.formImg != null and form.formImg != ''">#{form.formImg},</if>
            <if test="form.formImg == null or form.formImg == ''">"localhost:8080/img/default_img.jpg",</if>
            #{user.userId}
        </trim>
        <selectKey keyProperty="form.formId" keyColumn="form_id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="saveFormType" parameterType="com.example.jinshuju.pojo.Form">
        insert into form_form_type (form_id,
                                    form_type_id)
        values (#{formId},
                (select id from form_type where form_type = #{formType}))
    </insert>
    <insert id="insertTemplate" parameterType="com.example.jinshuju.pojo.Form">
        insert into form_template (
        form_id,
        template_id,
        template_title,
        template_content,
        template_count,
        template_default
        ) values
        <foreach collection="templateList" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{formId},
                #{item.templateId},
                <if test="item.templateTitle == null or item.templateTitle == ''">"未定义组件名",</if>
                <if test="item.templateTitle != null and item.templateTitle != ''">#{item.templateTitle},</if>
                <if test="item.templateContent == null or item.templateContent == ''">
                    (SELECT template_conten t_default FROM template WHERE template_id = #{item.templateId}),
                </if>
                <if test="item.templateContent != null and item.templateContent != ''">#{item.templateContent},</if>
                <!--<if test="item.templateCount == 0">${index+1},</if>-->
                <if test="item.templateCount != 0">#{item.templateCount},</if>
                <if test="item.templateDefault == null or item.templateDefault == ''">"null",</if>
                <if test="item.templateDefault != null and item.templateDefault != ''">#{item.templateDefault},</if>
            </trim>
        </foreach>
    </insert>
    <update id="updateFormNameById">
        update form
        set form_name = #{formName}
        where form_id = #{formId}
    </update>
    <update id="updateFormTagById">
        update form
        set form_tag = #{formTag}
        where form_id = #{formId}
    </update>
    <update id="updateFormOpenById">
        update form
        set form_open = #{formOpen}
        where form_id = #{formId}
    </update>
    <update id="updateFormById" parameterType="com.example.jinshuju.pojo.Form">
        update form
        <set>
            <if test="formName == null or formName == ''">form_name = "未命名表单名",</if>
            <if test="formName != null or formName != ''">form_name = #{formName},</if>
            <if test="formTitle == null or formTitle == ''">form_title = "未命名标题",</if>
            <if test="formTitle != null or formTitle != ''">form_title = #{formTitle},</if>
            <if test="formDesc != null or formDesc != ''">form_desc = #{formDesc},</if>
            <if test="formImg != null or formImg != ''">form_desc = #{formImg},</if>
            form_update_time = #{formUpdateTime}
        </set>
        where form_id = #{formId}
    </update>
    <delete id="deleteFormById" parameterType="int">
        delete
        from form
        where form_id = #{formId}
    </delete>
    <delete id="deleteTemplateList" parameterType="int">
        delete
        from form_template
        where form_id = #{formId}
    </delete>

    <resultMap id="FormResultMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formTitle" column="form_title"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formCreateTime" column="form_create_time"/>
        <result property="formUpdateTime" column="form_update_time"/>
        <result property="formTag" column="form_tag"/>
        <result property="formOpen" column="form_open"/>
        <result property="formUrl" column="form_url"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formImg" column="form_img"/>
        <result property="formType" column="form_type"/>
        <collection property="templateList" ofType="com.example.jinshuju.pojo.Template"
                    column="form_id" select="getTemplatesByFormId"/>
    </resultMap>
    <select id="getFormsByUserIdAndCreateTime" resultMap="FormResultMap" parameterType="int">
        SELECT f.*,
               ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.user_id = #{userId}
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
        ORDER BY f.form_create_time DESC
    </select>
    <resultMap id="TemplateResultMap" type="com.example.jinshuju.pojo.Template">
        <id property="templateId" column="template_id"/>
        <result property="templateName" column="template_name"/>
        <result property="templateDesc" column="template_desc"/>
        <result property="templateContentDefault" column="template_content_default"/>
        <result property="templateTitle" column="template_title"/>
        <result property="templateContent" column="template_content"/>
        <result property="templateCount" column="template_count"/>
        <result property="templateDefault" column="template_default"/>
        <result property="formTemplateId" column="form_template_id"/>
    </resultMap>
    <select id="getTemplatesByFormId" parameterType="int" resultMap="TemplateResultMap">
        SELECT ft.form_template_id,
               ft.template_id,
               ft.template_title,
               ft.template_default,
               ft.template_count,
               ft.template_content,
               t.template_name,
               t.template_desc
        FROM form_template ft,
             template t
        WHERE form_id = #{formId}
          AND ft.template_id = t.template_id
    </select>
    <select id="getFormByFormId" resultMap="FormResultMap" parameterType="int">
        SELECT f.*,
               ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.form_id = #{formId}
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
    </select>
    <select id="checkFormById" resultType="java.lang.Boolean" parameterType="int">
        select count(1)
        from form
        where form_id = #{formId}
    </select>
    <select id="getFormOpenById" resultType="java.lang.Integer">
        select form_open
        from form
        where form_id = #{formId}
    </select>
    <select id="getFormsByTagAndPage" resultMap="FormResultMap">
        SELECT
        f.*,
        ft.form_type
        FROM
        form f,
        form_form_type fft,
        form_type ft
        WHERE
        f.form_open = 1
        AND f.form_id = fft.form_id
        AND fft.form_type_id = ft.id
        <if test="formTagArray != null">
            AND
            <foreach collection="formTagArray" index="index" item="item" open="(" close=")" separator="and">
                find_in_set(#{item},f.form_tag)
            </foreach>
        </if>
        <if test="keyWord != null">
            AND find_in_set(#{keyWord},f.form_name)
        </if>
        LIMIT #{offset},#{rows}
    </select>
    <select id="getFormsCountByTag" resultType="java.lang.Integer">
        select count(*)
        from form
        where
        form_open = 1
        <if test="formTagArray != null">
            and
            <foreach collection="formTagArray" index="index" item="item" open="(" close=")" separator="and">
                find_in_set(#{item},form_tag)
            </foreach>
        </if>
        <if test="keyWord != null">
            AND find_in_set(#{keyWord},form_name)
        </if>
    </select>
    <resultMap id="FormDataResultMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formTag" column="form_tag"/>
        <result property="formUrl" column="form_url"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formImg" column="form_img"/>
        <result property="formType" column="form_type"/>
    </resultMap>
    <select id="getFilledFormsByUserId" resultMap="FormDataResultMap" parameterType="int">
        SELECT DISTINCT f.*,
                        ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft,
             `data` d
        WHERE f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
          AND d.user_id = #{userId}
          AND f.form_id = d.form_id
          AND f.form_id NOT IN (
            SELECT form_id
            FROM (
                     SELECT form_id
                     FROM form
                     WHERE user_id = #{userId}
                 ) AS h
        )
    </select>
    <select id="getFormsByUserIdAndDataAddTime" resultMap="FormResultMap" parameterType="int">
        SELECT DISTINCT f.*,
                        ft.form_type,
                        MAX(d.data_update_time) AS data_update_time
        FROM form f,
             form_form_type fft,
             form_type ft,
             `data` d
        WHERE f.user_id = #{userId}
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
          AND d.form_id = f.form_id
        GROUP BY form_id
        UNION
        SELECT f.*,
               ft.form_type,
               "0000-00-00 00:00:00" AS data_update_time
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.user_id = #{userId}
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
          AND f.form_id NOT IN (SELECT form_id FROM (SELECT form_id FROM `data` GROUP BY form_id) AS h)
        ORDER BY data_update_time DESC
    </select>
</mapper>