<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jinshuju.mapper.FormMapper">


    <insert id="insertForm">
        insert into form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            form_id,
            <if test="form.formName != null and form.formName != ''">form_name,</if>
            <if test="form.formName == null or form.formName == ''">form_name,</if>
            <if test="form.formTitle != null and form.formTitle != ''">form_title,</if>
            <if test="form.formTitle == null or form.formTitle == ''">form_title,</if>
            <if test="form.formDesc != null and form.formDesc != ''">form_desc,</if>
            form_create_time,
            form_update_time,
            <if test="form.formTag != null and form.formTag != null">form_tag,</if>
            form_open,
            <if test="form.formUrl != null and form.formUrl != null">form_url,</if>
            form_view_count,
            <if test="form.formImg != null and form.formImg != ''">form_img,</if>
            <if test="form.formImg == null or form.formImg == ''">form_img,</if>
            user_id,
            form_isFavour,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{form.formId},
            <if test="form.formName != null and form.formName != ''">#{form.formName},</if>
            <if test="form.formName == null or form.formName == ''">"未命名表单名",</if>
            <if test="form.formTitle != null and form.formTitle != ''">#{form.formTitle},</if>
            <if test="form.formTitle == null or form.formTitle == ''">"未命名标题",</if>
            <if test="form.formDesc != null and form.formDesc != ''">#{form.formDesc},</if>
            #{form.formCreateTime},
            #{form.formUpdateTime},
            <if test="form.formTag != null and form.formTag != null">#{form.formTag},</if>
            #{form.formOpen},
            <if test="form.formUrl != null and form.formUrl != null">#{form.formUrl},</if>
            #{form.formViewCount},
            <if test="form.formImg != null and form.formImg != ''">#{form.formImg},</if>
            <if test="form.formImg == null or form.formImg == ''">"/img/default_img.jpg",</if>
            #{user.userId},
            #{form.formIsFavour},
        </trim>
        <!--        <selectKey keyProperty="form.formId" keyColumn="form_id" order="AFTER" resultType="int">-->
        <!--            select LAST_INSERT_ID()-->
        <!--        </selectKey>-->
    </insert>
    <insert id="saveFormType" parameterType="com.example.jinshuju.pojo.Form">
        insert into form_form_type (form_id,
                                    form_type_id)
        values (#{formId},
                (select id from form_type where form_type = #{formType}))
    </insert>
    <insert id="insertNewTemplate" useGeneratedKeys="true" keyProperty="templateList.formTemplateId"
            keyColumn="form_template_id">
        insert into form_template (
        form_id,
        template_id,
        template_desc,
        template_title,
        template_content,
        template_count,
        template_default,
        template_type,
        template_icon,
        template_img_url,
        template_require
        ) values
        <foreach collection="templateList" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{formId},
                #{item.templateId},
                <if test="item.templateDesc == null or item.templateDesc == ''">"",</if>
                <if test="item.templateDesc != null and item.templateDesc != ''">#{item.templateDesc},</if>
                <if test="item.templateTitle == null or item.templateTitle == ''">"未定义组件名",</if>
                <if test="item.templateTitle != null and item.templateTitle != ''">#{item.templateTitle},</if>
                <if test="item.templateContent == null or item.templateContent == ''">
                    (SELECT template_content_default FROM template WHERE template_id = #{item.templateId}),
                </if>
                <if test="item.templateContent != null and item.templateContent != ''">#{item.templateContent},</if>
                #{item.templateCount},
                <if test="item.templateDefault == null or item.templateDefault == ''">"null",</if>
                <if test="item.templateDefault != null and item.templateDefault != ''">#{item.templateDefault},</if>
                <if test="item.templateType == null or item.templateType == ''">"normal",</if>
                <if test="item.templateType != null and item.templateType != ''">#{item.templateType},</if>
                <if test="item.templateIcon == null or item.templateIcon == ''">null,</if>
                <if test="item.templateIcon != null and item.templateIcon != ''">#{item.templateIcon},</if>
                <if test="item.templateImgUrl == null or item.templateImgUrl == ''">null,</if>
                <if test="item.templateImgUrl != null and item.templateImgUrl != ''">#{item.templateImgUrl},</if>
                #{item.templateRequire},
            </trim>
        </foreach>
    </insert>
    <insert id="insertOldTemplate">
        insert into form_template (
        form_template_id,
        form_id,
        template_id,
        template_desc,
        template_title,
        template_content,
        template_count,
        template_default,
        template_type,
        template_icon,
        template_img_url,
        template_require
        ) values
        <foreach collection="templateList" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{item.formTemplateId},
                #{formId},
                #{item.templateId},
                <if test="item.templateDesc == null or item.templateDesc == ''">"",</if>
                <if test="item.templateDesc != null and item.templateDesc != ''">#{item.templateDesc},</if>
                <if test="item.templateTitle == null or item.templateTitle == ''">"未定义组件名",</if>
                <if test="item.templateTitle != null and item.templateTitle != ''">#{item.templateTitle},</if>
                <if test="item.templateContent == null or item.templateContent == ''">
                    (SELECT template_content_default FROM template WHERE template_id = #{item.templateId}),
                </if>
                <if test="item.templateContent != null and item.templateContent != ''">#{item.templateContent},</if>
                #{item.templateCount},
                <if test="item.templateDefault == null or item.templateDefault == ''">"null",</if>
                <if test="item.templateDefault != null and item.templateDefault != ''">#{item.templateDefault},</if>
                <if test="item.templateType == null or item.templateType == ''">"normal",</if>
                <if test="item.templateType != null and item.templateType != ''">#{item.templateType},</if>
                <if test="item.templateIcon == null or item.templateIcon == ''">null,</if>
                <if test="item.templateIcon != null and item.templateIcon != ''">#{item.templateIcon},</if>
                <if test="item.templateImgUrl == null or item.templateImgUrl == ''">null,</if>
                <if test="item.templateImgUrl != null and item.templateImgUrl != ''">#{item.templateImgUrl},</if>
                #{item.templateRequire},
            </trim>
        </foreach>
    </insert>
    <update id="updateFormNameById">
        update form
        set form_name        = #{formName},
            form_title       = #{formName},
            form_update_time = #{time}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormTagById">
        update form
        set form_tag = #{formTag}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormOpenById">
        update form
        set form_open        = #{formOpen},
            form_update_time = #{time}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormById" parameterType="com.example.jinshuju.pojo.Form">
        update form
        <set>
            <if test="formName == null or formName == ''">form_name = "未命名表单名",</if>
            <if test="formName != null and formName != ''">form_name = #{formName},</if>
            <if test="formTitle == null or formTitle == ''">form_title = "未命名标题",</if>
            <if test="formTitle != null and formTitle != ''">form_title = #{formTitle},</if>
            <if test="formDesc != null and formDesc != ''">form_desc = #{formDesc},</if>
            <if test="formImg != null and formImg != ''">form_img = #{formImg},</if>
            <if test="formQRCode != null and formQRCode != ''">form_QRCode = #{formQRCode},</if>
            <if test="formUrl != null and formUrl != ''">form_url = #{formUrl},</if>
            form_update_time = #{formUpdateTime}
        </set>
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormFavourById">
        update form
        set form_isFavour    = #{formFavour},
            form_update_time = #{time}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormIssureById">
        update form
        set form_update_time = #{time}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateTemplateContent">
        update form_template
        set template_content = #{templateContent}
        where form_template_id = #{formTemplateId}
    </update>
    <update id="updateTemplate" parameterType="com.example.jinshuju.pojo.Template">
        update form_template
        <set>
            <if test="templateTitle != null and templateTitle != ''">template_title = #{templateTitle},</if>
            <if test="templateContent != null and templateContent != ''">template_content = #{templateContent},</if>
            <if test="templateDefault != null and templateDefault != ''">template_default = #{templateDefault},</if>
            <if test="templateType != null and templateType != ''">template_type = #{templateType},</if>
            <if test="templateIcon != null and templateIcon != ''">template_icon = #{templateIcon},</if>
            <if test="templateImgUrl != null and templateImgUrl != ''">template_img_url = #{templateImgUrl},</if>
            <if test="templateCount != null and templateCount != ''">template_count = #{templateCount},</if>
        </set>
        where form_template_id = #{formTemplateId}
    </update>
    <update id="updateFormCutByFormId">
        update form
        set form_cut      = #{flag},
            form_cut_time = #{time}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormCutTime">
        update form
        set form_cut_time = #{date}
        where BINARY form_id = #{formId}
    </update>
    <update id="updateFormCutAndOpen">
        update form
        set form_cut  = 0,
            form_open = 0
        where BINARY form_id = #{formId}
    </update>
    <delete id="deleteFormById" parameterType="String">
        delete
        from form
        where BINARY form_id = #{formId}
    </delete>
    <delete id="deleteTemplateList" parameterType="String">
        delete
        from form_template
        where BINARY form_id = #{formId}
    </delete>
    <delete id="deleteTemplateById">
        delete
        from form_template
        where form_template_id = #{oldFormTemplateId}
    </delete>

    <resultMap id="FormResultMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formTitle" column="form_title"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formCreateTime" column="form_create_time"/>
        <result property="formUpdateTime" column="form_update_time"/>
        <result property="formTag" column="form_tag"/>
        <result property="formOpen" column="form_open"/>
        <result property="formUrl" column="form_url"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formImg" column="form_img"/>
        <result property="formType" column="form_type"/>
        <result property="formIsFavour" column="form_isFavour"/>
        <result property="formCut" column="form_cut"/>
        <result property="formCutTime" column="form_cut_time"/>
        <result property="formQRCode" column="form_QRCode"/>
        <collection property="templateList" ofType="com.example.jinshuju.pojo.Template"
                    column="form_id" select="getTemplatesByFormId"/>
    </resultMap>
    <resultMap id="getFormsResultMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formTitle" column="form_title"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formCreateTime" column="form_create_time"/>
        <result property="formUpdateTime" column="form_update_time"/>
        <result property="formTag" column="form_tag"/>
        <result property="formOpen" column="form_open"/>
        <result property="formUrl" column="form_url"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formImg" column="form_img"/>
        <result property="formType" column="form_type"/>
        <result property="formIsFavour" column="form_isFavour"/>
        <result property="formCut" column="form_cut"/>
        <result property="formCutTime" column="form_cut_time"/>
        <result property="formDataCount" column="form_data_count"/>
    </resultMap>
    <select id="getFormsByUserIdAndCreateTime" resultMap="getFormsResultMap" parameterType="int">
        SELECT DISTINCT f.*,
                        ft.form_type,
                        (SELECT COUNT(data_id) FROM DATA WHERE form_id = f.form_id) AS form_data_count
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.user_id = #{userId}
          AND BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
        ORDER BY f.form_create_time DESC
    </select>
    <resultMap id="TemplateResultMap" type="com.example.jinshuju.pojo.Template">
        <id property="templateId" column="template_id"/>
        <result property="templateName" column="template_name"/>
        <result property="templateDesc" column="template_desc"/>
        <result property="templateContentDefault" column="template_content_default"/>
        <result property="templateTitle" column="template_title"/>
        <result property="templateContent" column="template_content"/>
        <result property="templateCount" column="template_count"/>
        <result property="templateDefault" column="template_default"/>
        <result property="formTemplateId" column="form_template_id"/>
        <result property="templateType" column="template_type"/>
        <result property="templateIcon" column="template_icon"/>
        <result property="templateImgUrl" column="template_img_url"/>
        <result property="templateRequire" column="template_require"/>
    </resultMap>
    <select id="getTemplatesByFormId" parameterType="String" resultMap="TemplateResultMap">
        SELECT ft.form_template_id,
               ft.template_id,
               ft.template_title,
               ft.template_default,
               ft.template_count,
               ft.template_content,
               ft.template_type,
               t.template_name,
               ft.template_desc,
               ft.template_icon,
               ft.template_img_url,
               ft.template_require
        FROM form_template ft,
             template t
        WHERE BINARY form_id = #{formId}
          AND ft.template_id = t.template_id
    </select>
    <select id="getFormByFormId" resultMap="FormResultMap" parameterType="String">
        SELECT f.*,
               ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE BINARY f.form_id = #{formId}
          AND BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
    </select>
    <select id="checkFormById" resultType="java.lang.Integer" parameterType="String">
        SELECT 1
        FROM form
        WHERE BINARY form_id = #{formId}
        LIMIT 1
    </select>
    <select id="getFormOpenById" resultType="java.lang.Integer" parameterType="String">
        select form_open
        from form
        where BINARY form_id = #{formId}
    </select>
    <resultMap id="FormDataResultMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formTag" column="form_tag"/>
        <result property="formUrl" column="form_url"/>
        <result property="formQRCode" column="form_QRCode"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formType" column="form_type"/>
        <result property="formDataCountByUser" column="form_data_fill_count"/>
        <result property="formDataUpdateTime" column="form_data_update_time"/>
    </resultMap>
    <select id="getFilledFormsByUserId" resultMap="FormDataResultMap" parameterType="int">
        SELECT DISTINCT f.form_id,
                        f.form_name,
                        f.form_desc,
                        f.form_tag,
                        f.form_QRCode,
                        f.form_url,
                        f.form_view_count,
                        ft.form_type,
                        (SELECT COUNT(data_id)
                         FROM `data`
                         WHERE user_id = #{userId}
                           AND BINARY form_id = BINARY f.form_id) AS form_data_fill_count,
                        MAX(d.data_create_time)                   AS form_data_update_time
        FROM form f,
             form_form_type fft,
             form_type ft,
             `data` d
        WHERE BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
          AND d.user_id = #{userId}
          AND BINARY f.form_id = BINARY d.form_id
          AND BINARY f.form_id NOT IN (SELECT form_id FROM (SELECT form_id FROM form WHERE user_id = #{userId}) AS h)
        GROUP BY BINARY f.form_id
    </select>
    <select id="getFormsByUserIdAndDataAddTime" resultMap="getFormsResultMap" parameterType="int">
        SELECT DISTINCT f.*,
                        ft.form_type,
                        (SELECT COUNT(data_id) FROM DATA WHERE BINARY form_id = BINARY f.form_id) AS form_data_count,
                        MAX(d.data_update_time)                                                   AS data_update_time
        FROM form f,
             form_form_type fft,
             form_type ft,
             `data` d
        WHERE f.user_id = #{userId}
          AND BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
          AND BINARY d.form_id = BINARY f.form_id
        GROUP BY BINARY form_id
        UNION
        SELECT f.*,
               ft.form_type,
               (SELECT COUNT(data_id) FROM DATA WHERE BINARY form_id = BINARY f.form_id) AS form_data_count,
               "0000-00-00 00:00:00"                                                     AS data_update_time
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.user_id = #{userId}
          AND BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
          AND BINARY f.form_id NOT IN (SELECT form_id FROM (SELECT form_id FROM `data` GROUP BY BINARY form_id) AS h)
        ORDER BY data_update_time DESC
    </select>
    <select id="getFormFavourById" resultType="java.lang.Integer" parameterType="String">
        select form_isFavour
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="getFormUrlById" resultType="java.lang.String" parameterType="String">
        select form_url
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="getFormQRCodeById" resultType="java.lang.String" parameterType="String">
        select form_QRCode
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="getFavourFormsByUserId" resultMap="getFormsResultMap" parameterType="int">
        SELECT DISTINCT f.*,
                        ft.form_type,
                        (SELECT COUNT(data_id) FROM DATA WHERE BINARY form_id = BINARY f.form_id) AS form_data_count
        FROM form f,
             form_form_type fft,
             form_type ft,
             `data` d
        WHERE f.user_id = #{userId}
          AND BINARY f.form_id = BINARY fft.form_id
          AND fft.form_type_id = ft.id
          AND f.form_isFavour = 1
    </select>
    <select id="getFormIssureById" resultType="java.lang.Integer" parameterType="String">
        select form_isIssure
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="getTemplateTypeByFormTemplateId" resultType="java.lang.Integer">
        SELECT t.template_id
        FROM template AS t,
             form_template AS ft
        WHERE t.template_id = ft.template_id
          AND ft.form_template_id = #{formTemplateId}
    </select>
    <select id="getTemplateByFormTemplateId" resultMap="TemplateResultMap">
        SELECT ft.form_template_id,
               ft.template_id,
               ft.template_title,
               ft.template_default,
               ft.template_count,
               ft.template_content,
               ft.template_type,
               t.template_name,
               ft.template_desc,
               ft.template_icon,
               ft.template_img_url,
               ft.template_require
        FROM form_template ft,
             template t
        WHERE ft.form_template_id = #{formTemplateId}
          AND ft.template_id = t.template_id
    </select>
    <select id="getTemplateImgUrlByFormTemplateId" resultType="java.lang.String" parameterType="int">
        select template_img_url
        from form_template
        where form_template_id = #{formTemplateId}
    </select>
    <select id="judgeForm" resultType="java.lang.Integer">
        SELECT 1
        FROM form
        WHERE user_id = #{userId}
          and BINARY form_id = #{formId}
        LIMIT 1
    </select>
    <select id="getFormTagsByFormId" resultType="java.lang.String" parameterType="String">
        select form_tag
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="getFormCutByFormId" resultType="java.lang.Integer" parameterType="String">
        select form_cut
        from form
        where BINARY form_id = #{formId}
    </select>
    <select id="judgeFormCutTime" resultType="java.lang.Boolean">
        SELECT form_cut_time &lt;= NOW()
        FROM form
        WHERE BINARY form_id = #{formId}
    </select>
</mapper>