<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jinshuju.mapper.DataMapper">

    <insert id="insertData" parameterType="com.example.jinshuju.pojo.Data">
        INSERT INTO data ( form_id, user_id, data_create_time,data_update_time,data_write_time)
        VALUES
        ( #{form.formId}, #{user.userId}, #{dataCreateTime},#{dataUpdateTime},#{dataWriteTime})
        <selectKey keyProperty="dataId" resultType="int" keyColumn="data_id" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="insertDataDetails" parameterType="com.example.jinshuju.pojo.Data">
        insert into data_details ( data_id, form_template_id, data_content )
        values
        <foreach collection="dataDetailsList" index="index" item="item" separator=",">
            (#{dataId},#{item.formTemplateId},#{item.dataContent})
        </foreach>
    </insert>
    <update id="updateDataTime" parameterType="com.example.jinshuju.pojo.Data">
        update data
        set data_update_time = #{dataUpdateTime}
        where data_id = #{dataId}
    </update>
    <delete id="deleteAllDataByFormId" parameterType="int">
        DELETE
        from `data`
        WHERE form_id = #{formId}
    </delete>
    <delete id="deleteDataByDataId" parameterType="int">
        DELETE
        from `data`
        WHERE data_id = #{dataId}
    </delete>
    <delete id="deleteDataDetailsByDataId" parameterType="int">
        delete
        from data_details
        where data_id = #{dataId}
    </delete>
    <resultMap id="DataResultMap" type="com.example.jinshuju.pojo.Data">
        <id property="dataId" column="data_id"/>
        <result property="dataCreateTime" column="data_create_time"/>
        <association property="user" javaType="com.example.jinshuju.pojo.User"
                     resultMap="com.example.jinshuju.mapper.UserMapper.UserDataMap"/>
        <collection property="dataDetailsList" select="getDataDetailsByDataId"
                    ofType="com.example.jinshuju.pojo.DataDetails" column="data_id"/>
    </resultMap>
    <select id="getAllDataByFormId" resultMap="DataResultMap" parameterType="int">
        SELECT d.data_id,
               d.data_create_time,
               u.user_name,
               u.user_telephone,
               u.user_email,
               u.user_img,
               u.user_create_time
        FROM DATA d,
             USER u
        WHERE d.form_id = #{formId}
          AND d.user_id = u.user_id
    </select>
    <resultMap id="DataDetailsResultMap" type="com.example.jinshuju.pojo.DataDetails">
        <id property="id" column="id"/>
        <result property="formTemplateId" column="form_template_id"/>
        <result property="dataContent" column="data_content"/>
    </resultMap>
    <select id="getDataDetailsByDataId" parameterType="int" resultMap="DataDetailsResultMap">
        SELECT *
        FROM data_details
        WHERE data_id = #{dataId}
    </select>
    <select id="getDataCountByFormId" resultType="java.lang.Integer" parameterType="int">
        SELECT COUNT(*)
        FROM `data`
        WHERE form_id = #{formId}
    </select>
    <select id="getDataCountDailyByFormId" resultType="java.lang.Integer" parameterType="int">
        SELECT COUNT(*)
        FROM `data`
        WHERE form_id = #{formId}
          AND TO_DAYS(NOW()) = TO_DAYS(data_update_time)
    </select>
</mapper>