<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jinshuju.mapper.FormMapper">


    <insert id="saveFormAndUser">
        insert into user_form(user_id, form_id)
        values (#{userId}, #{formId})
    </insert>
    <insert id="insertForm" parameterType="com.example.jinshuju.pojo.Form">
        insert into form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="formName != null and formName != ''">form_name,</if>
            <if test="formName == null or formName == ''">form_name,</if>
            <if test="formTitle != null and formTitle != ''">form_title,</if>
            <if test="formTitle == null or formTitle == ''">form_title,</if>
            <if test="formDesc != null and formDesc != ''">form_desc,</if>
            form_create_time,
            form_update_time,
            <if test="formTag != null and formTag != null">form_tag,</if>
            form_open,
            <if test="formUrl != null and formUrl != null">form_url,</if>
            form_view_count,
            form_result_view_count,
            <if test="formImg != null and formImg != ''">form_img,</if>
            <if test="formImg == null or formImg == ''">form_img,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="formName != null and formName != ''">#{formName},</if>
            <if test="formName == null or formName == ''">"未命名表单名",</if>
            <if test="formTitle != null and formTitle != ''">#{formTitle},</if>
            <if test="formTitle == null or formTitle == ''">"未命名标题",</if>
            <if test="formDesc != null and formDesc != ''">#{formDesc},</if>
            #{formCreateTime},
            #{formUpdateTime},
            <if test="formTag != null and formTag != null">#{formTag},</if>
            #{formOpen},
            <if test="formUrl != null and formUrl != null">#{formUrl},</if>
            #{formViewCount},
            #{formResultViewCount},
            <if test="formImg != null and formImg != ''">#{formImg},</if>
            <if test="formImg == null or formImg == ''">"-----------",</if>
        </trim>
        <selectKey keyProperty="formId" keyColumn="form_id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="saveFormType" parameterType="com.example.jinshuju.pojo.Form">
        insert into form_form_type (form_id,
                                    form_type_id)
        values (#{formId},
                (select id from form_type where form_type = #{formType}))
    </insert>
    <insert id="insertTemplate" parameterType="com.example.jinshuju.pojo.Form">
        insert into form_template (
        form_id,
        template_id,
        template_title,
        template_content,
        template_count,
        template_default
        ) values
        <foreach collection="templateList" item="item" index="index" separator=",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                #{formId},
                #{item.templateId},
                <if test="item.templateTitle == null or item.templateTitle == ''">"未定义组件名",</if>
                <if test="item.templateTitle != null and item.templateTitle != ''">#{item.templateTitle},</if>
                <if test="item.templateContent == null or item.templateContent == ''">
                    (SELECT template_content_default FROM template WHERE template_id = #{item.templateId}),
                </if>
                <if test="item.templateContent != null and item.templateContent != ''">#{item.templateContent},</if>
                <if test="item.templateCount == 0">${index+1},</if>
                <if test="item.templateCount != 0">#{item.templateCount},</if>
                <if test="item.templateDefault == null or item.templateDefault == ''">"null",</if>
                <if test="item.templateDefault != null and item.templateDefault != ''">#{item.templateDefault},</if>
            </trim>
        </foreach>
    </insert>
    <delete id="deleteFormById" parameterType="int">
        delete
        from form
        where form_id = #{formId}
    </delete>

    <resultMap id="getFormsByUserIdMap" type="com.example.jinshuju.pojo.Form">
        <id property="formId" column="form_id"/>
        <result property="formName" column="form_name"/>
        <result property="formTitle" column="form_title"/>
        <result property="formDesc" column="form_desc"/>
        <result property="formCreateTime" column="form_create_time"/>
        <result property="formUpdateTime" column="form_update_time"/>
        <result property="formTag" column="form_tag"/>
        <result property="formOpen" column="form_open"/>
        <result property="formUrl" column="form_url"/>
        <result property="formViewCount" column="form_view_count"/>
        <result property="formResultViewCount" column="form_result_view_count"/>
        <result property="formImg" column="form_img"/>
        <result property="formType" column="form_type"/>
        <collection property="templateList" ofType="com.example.jinshuju.pojo.Template"
                    column="form_id" select="getTemplatesByFormId"/>
    </resultMap>
    <resultMap id="TemplateResultMap" type="com.example.jinshuju.pojo.Template">
        <id property="templateId" column="template_id"/>
        <result property="templateName" column="template_name"/>
        <result property="templateDesc" column="template_desc"/>
        <result property="templateContentDefault" column="template_content_default"/>
        <result property="templateTitle" column="template_title"/>
        <result property="templateContent" column="template_content"/>
        <result property="templateCount" column="template_count"/>
        <result property="templateDefault" column="template_default"/>
    </resultMap>
    <select id="getFormsByUserId" resultMap="getFormsByUserIdMap" parameterType="int">
        SELECT f.*,
               ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft,
             user_form uf
        WHERE uf.user_id = #{userId}
          AND f.form_id = uf.form_id
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
    </select>
    <select id="getTemplatesByFormId" parameterType="int" resultMap="TemplateResultMap">
        SELECT ft.template_id,
               ft.template_title,
               ft.template_default,
               ft.template_count,
               ft.template_content,
               t.template_name,
               t.template_desc
        FROM form_template ft,
             template t
        WHERE form_id = #{formId}
          AND ft.template_id = t.template_id
    </select>
    <select id="getFormByFormId" resultMap="getFormsByUserIdMap" parameterType="int">
        SELECT f.*,
               ft.form_type
        FROM form f,
             form_form_type fft,
             form_type ft
        WHERE f.form_id = #{formId}
          AND f.form_id = fft.form_id
          AND fft.form_type_id = ft.id
    </select>
</mapper>