<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.jinshuju.mapper.FormMapper">


    <insert id="saveFormAndUser">
        insert into user_form(user_id,form_id) values (#{userId},#{formId})
    </insert>
    <insert id="insertForm" parameterType="com.example.jinshuju.pojo.Form">
        insert into form
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="formName != null and formName != ''">form_name,</if>
            <if test="formName == null and formName == ''">form_name,</if>
            <if test="formTitle != null and formTitle != ''">form_title,</if>
            <if test="formTitle == null and formTitle == ''">form_title,</if>
            <if test="formDesc != null and formDesc != ''">form_desc,</if>
            <if test="formDesc == null and formDesc == ''">form_desc,</if>
            form_create_time,
            form_update_time,
            <if test="formTag != null and formTag != null">form_tag,</if>
            form_open,
            <if test="formUrl != null and formUrl != null">form_url,</if>
            form_view_count,
            form_result_view_count,
            <if test="formImg != null and formImg != ''">form_img,</if>
            <if test="formImg == null and form == ''">form_img,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="formName != null and formName != ''">#{formName},</if>
            <if test="formName == null and formName == ''">"未命名表单名",</if>
            <if test="formTitle != null and formTitle != ''">#{formTitle},</if>
            <if test="formTitle == null and formTitle == ''">"未命名标题",</if>
            #{formCreateTime},
            #{formUpdateTime},
            <if test="formTag != null and formTag != null">#{formTag},</if>
            #{formOpen},
            <if test="formUrl != null and formUrl != null">#{formUrl},</if>
            #{formViewCount},
            #{formResultViewCount},
            <if test="formImg != null and formImg != ''">#{formImg},</if>
            <if test="formImg == null and formImg == ''">"-----------",</if>
        </trim>
        <selectKey keyProperty="formId" keyColumn="form_id" order="AFTER" resultType="int">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="saveFormType"></insert>
</mapper>